body {
    background-color: black;
    overflow-y: hidden;
    overflow-x: hidden;
}

.square {
    position: relative;
    display: flex;
    height: 400px;
    width: 400px;
    justify-content: center;
    align-items: center;
}

.square span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(rgb(16, 16, 46, 0) 50%, rgb(50, 8, 104) 40%);
    box-shadow: 0 0 50px #960fea, inset 0 0 50px #9d0fea;
    border-radius: 38% 62% 67% 37%/ 41% 43% 56% 59%;
    transition: 0.8s;
    animation: animate1 6s linear infinite;
}

.square span:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(rgb(16, 16, 46, 0) 50%, rgb(82, 8, 104) 40%);
    box-shadow: 0 0 50px #9a0fea, inset 0 0 50px #840fea;
    border-radius: 38% 62% 67% 37%/ 41% 43% 56% 59%;
    transition: 0.8s;
    animation: animate2 4s linear infinite;
}

.square span:nth-child(3) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(rgb(16, 16, 46, 0) 50%, rgb(62, 8, 104) 40%);
    box-shadow: 0 0 50px #9a0fea, inset 0 0 50px #840fea;
    border-radius: 38% 62% 67% 37%/ 41% 43% 56% 59%;
    transition: 0.8s;
    animation: animate3 3s linear infinite;
}

@keyframes animate1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate2 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate3 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



/*input css*/

#textInput {
    background-color: #242424a8;
    border-color: rgb(110, 39, 197);
    box-shadow: 0 0 5px rgb(110, 39, 197), inset 0 0 5px rgb(110, 39, 197);
    border-radius: 12px;
    color: white;
    padding: 3px 10px 3px 20px;
    margin: 20px 20%;
}

.input-field {
    background-color: transparent;
    border: none;
    width: 95%;
    outline: none;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    color: white;
    padding: 0;
    margin: 0;
    border-radius: 0;
    cursor: pointer;
}

.buttons {
    display: flex;
    flex-direction: row;
    margin: 0 5px 0 0;
}

#send {
    display: none;
}

.glow-on-hover {
    width: 35px;
    height: 35px;
    border: none;
    outline: none;
    color: #fff;
    background: #ffff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    padding: 0px;
    margin-left: 10px;
}

.glow-on-hover::before {
    content: '';
    background: linear-gradient(45deg, #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}


.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}


@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}



/* siri text and wave */

/* section */
#siriwave {
    padding-top: 40px;
    /* pushes the whole section a bit down */
}

/* entire siri container */
.siri {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
}

/* siri text msg */
.sirimsg {
    color: #fff;
    font-size: 1.5rem;
    text-align: justify;
    width: 80%;
    height: 40vh;
    /* fixed height */
    overflow-y: auto;
    /* enables scroll for longer text */
    position: absolute;
    top: 0;
    z-index: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4);
    /* optional: adds readability */
    border-radius: 16px;
    /* optional: soft corners */
    scrollbar-width: thin;
    /* Firefox */
}

/* Optional: style the scrollbar (Chrome/Edge/Safari) */
.sirimsg::-webkit-scrollbar {
    width: 6px;
}

.sirimsg::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    display: hidden;
}


/* siri wave animation */
#siri-container {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 60vh;
    z-index: 1;
    justify-content: center;
    align-items: center;
}


/* chat history dashboard */
.chat-canvas {
    background-color: #191919
}

.receiver_message {
    padding: 8px;
    border: 2px solid cyan;
    border-radius: 0px 15px 15px 20px;
    width: auto;
    white-space: pre-line;
    color: white;
    background-color: #0dcaf014;
}

.sender_message {
    padding: 8px;
    border: 1px solid #0045ff;
    border-radius: 15px 15px 0px 20px;
    width: auto;
    color: white;
    background-color: #0045ff;
}

.width-size {
    max-width: 80%;
    width: auto;
}